<div class="module module1 fl">
    <div class="title">
        <a href="#">{{hot[0].title}}
            <i class="line line1"></i>
        </a>
    </div>
    <div class="item1 clearfix">
        <a class="top clearfix" href="#">
            <span class="rank fl">1</span>
            <span class="name fl">{{hot[0].site1}}</span>                       
        </a>
        <a class="comment fr" href="#">1298个点评</a>
        <div class="shadow">
            <a class="middle" href="#">
                <img src="{{hot[0].imgSrc}}" alt="">
            </a>
            <div class="tail tail1">
                <span class="name">{{hot[0].user1}}</span>
                <span class="detail">{{hot[0].word1}}</span>
            </div>
        </div>
    </div>
    <div class="item2">
        <a href="#" class="top clearfix">
            <span class="rank fl">2</span>
            <span class="name fl">{{hot[0].site2}}</span>                     
        </a>
        <a class="comment fr" href="#">1023个点评</a>
        <div class="tail">
            <span class="name">{{hot[0].user2}}</span>
            <span class="detail">{{hot[0].word2}}</span>
        </div>
    </div>
    <div class="summary off">
        <a href="#" rel="nofollow">
            <b>195</b>个景点
            <i class="more2"></i>
        </a>
    </div>
</div>

<div class="module module2 fl">
    <div class="title">
        <a href="#">{{hot[1].title}}<i class="line line2"></i></a>
    </div>
    <div class="item1">
        <a class="top" href="#">
            <span class="rank fl">1</span>
            <span class="name fl">{{hot[1].site1}}</span>
        </a>
        <div class="shadow" href="#">
            <a class="middle" href="#">
                <img src="{{hot[1].imgSrc}}" alt="">
            </a>
            <div class="info rate-div">
                    <span class="rate">66%</span>的朋友推荐
                </div>
            <div class="tail">{{hot[1].word1}}</div>
        </div>
    </div>
    <div class="item2">
        <a class="top clearfix" href="#">
            <span class="rank fl">2</span>
            <span class="name fl">{{hot[1].site2}}</span>
        </a>
        <div class="tail">
            <p><span class="rate">53%</span>的朋友推荐</p>
            <p>洛阳不翻汤来自民间，已有<span class="count">100</span>多年的历史。这种汤由绿豆粉、粉丝、海带等原料配上香醋、胡...</p>
        </div>
    </div>
    <div class="summary off">
        <a href="#" rel="nofollow">
            <b>17</b>个美食
            <i class="more2"></i>
        </a>
    </div>
</div>

<div class="module module3 fr">
    <div class="title">
        <a href="#">{{hot[2].title}}<i class="line line3"></i></a>
    </div>
    <div class="item1">
        <a class="top" href="#">
            <span class="rank fl">1</span>
            <span class="name fl">{{hot[2].site1}}</span>
        </a>
        <div class="shadow">
            <a class="middle" href="#">
                <img src="{{hot[2].imgSrc}}" alt="">
            </a>
            <div class="info rate-div">
                <span class="rate">68%</span>的牛友选择这里
            </div>
            <div class="tail">{{hot[2].word1}}</div>
        </div>
    </div>
    <div class="item2">
        <a href="#" class="top clearfix">
            <span class="rank fl">2</span>
            <span class="name fl">{{hot[2].site2}}</span>
        </a>
        <div class="tail">
            <p><span class="rate">47%</span>的牛友选择这里</p>
            <p>{{hot[2].word2}}</p>
        </div>
    </div>
    <div class="summary off">
        <a href="#" rel="nofollow">
            <b>4</b>个购物店
            <i class="more2"></i>
        </a>
    </div>
</div>